.fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0 0 0;
    color: var(--main-card-text);
}

.attribute {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 15px;
    gap: 10px;

    & > div {
        font-size: smaller;
        display: flex;
        flex-direction: column;

        & > span:first-child {
            font-weight: 200;
        }

        & > span:nth-child(2) {
            font-weight: bold;
        }
    }
}