:root {
    --accent: #005DA3;
    --accent-color: #ffffff;

    /* Sidebar */
    --sidebar-background: #ffffff;
    --sidebar-text-color: #272727;
    --sidebar-group-label-color: #696f7a;
    --sidebar-border: rgba(0,0,0,0.12);
    --sidebar-nav-hover-background: #F5F5F5;
    --sidebar-nav-active-background: #DEDEDE;

    /* Main */
    --main-background: #FAFAFA;
    --main-card-background: #FFFFFF;
    --main-card-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    --main-card-text-emphazise: #000000;
    --main-card-text: #696f7a;
}