.container {
    padding: 15px;
}

.negotiations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.negotiation {
    color: var(--main-card-text);
    display: flex;
    flex-direction: column;

    & > p {
        margin: 5px 0;
    }

    & > h3 {
        color: var(--main-card-text-emphazise);
        padding: 0;
        margin: 5px 0;
    }
}