:root {
    --accent: #620000;
    --accent-color: #ffffff;

    /* Sidebar */
    --sidebar-background: #1F1F1F;
    --sidebar-text-color: #fff;
    --sidebar-group-label-color: #696f7a;
    --sidebar-border: rgba(0,0,0,0.12);
    --sidebar-nav-hover-background: #28282B;
    --sidebar-nav-active-background: #37373D;

    /* Main */
    --main-background: #121212;
    --main-card-background: #1E1E1E;
    --main-card-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    --main-card-text-emphazise: #D6D6D6;
    --main-card-text: #E0E0E0;
}